* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.debounce-container {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0.7;
  height: 15rem;
  width: 35rem;
}

.debounce-text {
  font-size: 2rem;
  margin: 3rem 0;
  padding: 3rem 0;
  text-align: center;
}

.swapi-div {
  border: 1px solid #eee;
  height: 15rem;
  width: 35rem;
}
